@import url('https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme inline {
  --color-tb: #2e2e2e;
  --font-main: 'Tinos', serif;
}

@layer utilities {
  .text {
    @apply text-tb font-bold text-[35px] mt-6 max-[650px]:text-[30px]
  }
}

.bshadow {
  box-shadow: 7px 7px 10px rgba(0, 0, 0, .25)
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #8d8d8d;
  border-radius: 4px
}
